/* sections */
section {
  width: 100%;
  padding: 64px 0;
}

.about-us {
  flex-direction: column;
}

.about-us-photo {
  width: 100%;
}

.bg-gray {
  background-color: #f8f9f9;
}

h1.heading {
  font-size: 24px;
  font-weight: 600;
}

p {
  font-size: 18px;
}

.values-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 40px;
}

.values-row {
  display: flex;
  justify-content: space-between;
}

.value-item {
  width: calc(20% - 10px);
}

.value-item.icon {
  width: 100%;
  padding: 0 26px;
  text-align: center;
}

.value-item.icon img {
  width: 100%;
}

.value-item.heading {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.value-item.desctiption {
  width: 100%;
  text-align: center;
  font-size: 14px;
  padding: 0 24px;
}

.value-item.desctiption:not(:last-child) {
  border-left: 2px dashed #aeaeae70;
}
