/* sections */
section {
  width: 100%;
  padding: 16px 0;
}

.about-us {
  flex-direction: column;
}

.about-us-photo {
  width: 100%;
}

.bg-gray {
  background-color: #f8f9f9;
}

h1.heading {
  font-size: 24px;
  font-weight: 600;
}
